{% extends "todo/base.html" %}

{% block content %}
{% load static %}

<div class="row" style="background-color: rgba(255, 161, 53, 0.747); border-radius: 7%;" >
    <div class="col-sm-8">
    <div class="card w-60" style="margin: 3%; border: none;">
    <div class="card-body" style="background-color: rgba(255, 220, 177, 0.877);">
      <h2 class="card-title" style="text-align: center;padding-bottom: 2%;"><b>CONTACT-US</b></h2>

      <h5 class="card-title">Address:</h5>
      <p class="card-text" style="padding-left:10% ;">
        Pushkar Food Corporation,<br>
        Gat No. 620, Pune-Saswad Road,
        Wadki, Tal. Haveli,<br>
        Near Vijay Executive Hotel,
        Pune-412308, Maharashtra, India.
      </p>

      <h5 class="card-title">Mobile Number:</h5>
      <p class="card-text" style="padding-left:10% ;">
        +91-9422513300.
      </p>

      <h5 class="card-title">phone Number:</h5>
      <p class="card-text" style="padding-left:10% ;">
        020-26989010.
      </p>

      <h5 class="card-title">Email:</h5>
      <p class="card-text" style="padding-left:10% ;">
        saraspapad@gmail.com <br>
        accounts@saraspapad.com <br>
        sales@saraspapad.com <br>
      </p>

    </div>
    </div>
</div>

<div class="col-sm-4">
<iframe 
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1
m3!1d60549.84688091396!2d73.91185232436537!3d18.467099384566414!2m3!1f0!2f
0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2e91dd6628c8d%3A0x21e6bad8490b6cbb!2sSa
ras%20Papad!5e0!3m2!1sen!2sin!4v1685086641912!5m2!1sen!2sin" 
width="375" height="375" style="border:0; margin-top: 25%; margin-left: -10%;" allowfullscreen="" loading="lazy" 
referrerpolicy="no-referrer-when-downgrade">

</iframe>
</div>
</div>

{% endblock %}
