{% extends "todo/base.html" %}

{% block content %}
{% load static %}
<div>

    <h2 style="text-align:center; padding-top: 3%; color: brown;">
        <b>Frequently Asked Questions</b>
    </h2>

</div>

<div style=" padding:3% ;background-color: rgba(253, 163, 60, 0.747);">

  <div class="card" style="margin-top: 5%;">
    <h5 class="card-header" style="background-color:rgba(253, 163, 60, 0.747) ;">
        1.WHAT IS A PAPAD ?
    </h5>
    <div class="card-body">
      <p class="card-text">
        Papads are thin wafers made mainly of urad dal. 
        The papads are seasoned with various spices and herbs The product is free from Gluten, 
        rich in protein and dietary fiber.They are available plain or flavored with herbs, garlic, 
        peppercorns or chilies. Their crisp crunchiness provides a change of texture in a meal. 
        They can be served by themselves or with a meal. 
        The making of Papads is a specialty of Indian cuisine.
      </p>
    </div>
  </div>


  <div class="card" style="margin-top: 5%;">
    <h5 class="card-header" style="background-color:rgba(253, 163, 60, 0.747) ;">
        2.HOW MANY TYPES OF PAPADS ARE THERE?
    </h5>
    <div class="card-body">
      <p class="card-text">
        There are more than 21 types of Papads. 
        You can get 15 types of Papads in Pushkar food corporation, Pune.<br>
        Udad Papad <br>
        Methi Papad <br>
        Moong Papad <br>
        Pudina Papad <br>
        Garlic Papad <br>
        Kothimbir Papad <br>
        Green Chilli Papad <br>
        Palak Papad <br>
        Red Chilli Papad <br>
        Chana Mix Papad <br>
        Jeera Papad <br>
        Tomato Papad <br>
        Potato Papad <br>
        Udad With Soya Papad <br>
        Special Punjabi Papad <br>
      </p>
    </div>
  </div>


  <div class="card" style="margin-top: 5%;" >
    <h5 class="card-header" style="background-color:rgba(253, 163, 60, 0.747) ;">
        3.WHY SHALL WE EAT PAPAD ?
    </h5>
    <div class="card-body">
      <p class="card-text">
        Papad is Indian traditional food which is good appetizer, corminative and digestive. 
        Roasted/Grilled Papad helps to digest when consumed at the end of the meal. 
        It is used as an accompaniment to an Indian meal, as a snack and as croutons in soups.
        Their crisp crunchiness provides texture to a meal.
        Spices like asafoetida, black pepper, chilly powder, cumin, garlic, cardamom, clove & cinnamon etc. 
        added in the Papad have corminative value.
      </p>
    </div>
  </div>


  <div class="card" style="margin-top: 5%;">
    <h5 class="card-header" style="background-color:rgba(253, 163, 60, 0.747) ;">
        4.HOW PAPAD MAKES OUR MEAL / BREAKFAST TASTY ?
    </h5>
    <div class="card-body">
      <p class="card-text">
        No  meal is complete without Papad. 
        Machine made SARAS Papads will give you better traditional taste.
        To enjoy Papad make Masala Papad using Onion, Kothimbirs (Green Coriander), 
        Red Chilly, Tomatoes, Shave, SARAS Papad masala, Oil/Butter etc. 
        Apply oil/butter to one/both sides of Papad. Disperse the chopped raw materials over 
        the fried/roasted Papad, Sprinkle red chili powder, salt, chat powder as per your 
        requirements. Hmm. Masala Papad is ready.
        You  can also make Papad paratha, Papad ki subji or eat it like a snack with breakfast.
        You can enjoy Papad by frying or by roasting.
      </p>
    </div>
  </div>

</div>


{% endblock %}